/* Layout */

.container{

width:min(1400px,100%);

margin:auto;

}

/* Glass */

.glass{

background:var(--glass);

backdrop-filter:blur(20px);

border:1px solid rgba(255,255,255,.8);

}

/* Card */

.card{

background:#fff;

border-radius:var(--radius-lg);

border:1px solid var(--border);

box-shadow:var(--shadow-md);

transition:var(--transition);

}

.card:hover{

transform:translateY(-6px);

box-shadow:var(--shadow-lg);

}

/* Flex */

.flex{

display:flex;

}

.items-center{

align-items:center;

}

.justify-between{

justify-content:space-between;

}

.gap-1{

gap:10px;

}

.gap-2{

gap:20px;

}

.gap-3{

gap:30px;

}

/* Width */

.w-full{

width:100%;

}

/* Text */

.text-center{

text-align:center;

}

/* Margin */

.mt-1{

margin-top:10px;

}

.mt-2{

margin-top:20px;

}

.mt-3{

margin-top:30px;

}

.mb-1{

margin-bottom:10px;

}

.mb-2{

margin-bottom:20px;

}

.mb-3{

margin-bottom:30px;

}