@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

*,
*::before,
*::after{

margin:0;
padding:0;

box-sizing:border-box;

}

html{

scroll-behavior:smooth;

}

body{

font-family:'Inter',sans-serif;

background:var(--bg);

color:var(--text);

min-height:100vh;

overflow-x:hidden;

text-rendering:optimizeLegibility;

-webkit-font-smoothing:antialiased;

}

/* Images */

img{

display:block;

max-width:100%;

}

/* Button */

button{

font:inherit;

}

/* Input */

input,
textarea,
select{

font:inherit;

}

/* Link */

a{

text-decoration:none;

color:inherit;

}

/* List */

ul{

list-style:none;

}